.bsModalContainer {
  font-size: 1.6rem;

  .btn-close {
    padding: 0.5rem 0.6rem !important;
  }

  .modalBtn {
    font-size: 1.6rem;
    padding: 0.6rem 2.3rem !important;
    border-radius: 0.6rem !important;
    margin: 0.3rem 0.5rem 0.3rem 0.8rem;
  }
}
